
<table class="table bg-primary p-2 text-light">
    <thead>
        <tr>
        <th scope="col">Titulo</th>
        <th scope="col">precio</th>
        <th scope="col">imagen</th>
        </tr>
    </thead>
    <tbody id="contentTable">

    </tbody>
</table>
